* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --border-light: rgb(208, 208, 208);
}

body {
    display: block;
}

img {
    width: 100%
}

.wrapper {
    margin: auto;
    width: 70%;
}


/* HeaderAd */

header {
    background-color: #dee2e6;
    border-bottom: 1px solid var(--border-light);
}

header .img {
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: 14vw;
    position: relative;
    overflow: hidden;
}

.top-ad-text {
    margin-right: 20px;
}

.onImageText {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3%
}

.top-ad-text {
    color: black;
    font-size:1.3vw;
}

/* HeaderAd Closes */


/* MainHeader */

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    border-bottom: 0.3px solid rgb(213, 214, 215);
    padding-bottom: 1%;
}

.hamb-search-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1%;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
}

.header-date {
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-size: 15px;
}

.header-market {
display: flex;
justify-content: end;
}

.countries {
    font-size: 12px;
    display: flex;
    display: column;
    justify-content: center;
    align-items: center;
}

.countries p {
    padding: 5px;
}

.header-btns button {
    padding: 5px 2px;
}

.header-btns {
    justify-self: end;
}

.hamb-search-icon p {
   margin-right: 2%;
}

/* MainHeader Closes */

/* NavMenu */

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 6%;
    border-bottom: 1px solid rgb(60, 60, 60);
}

.nav-menu p {
    font-size: 0.9vw;
}

.arrow {
    border: solid rgb(92, 92, 92);
    border-width: 0 1.2px 1.2px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .nav-item-1 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-1 p {
    padding-right: 10px;
  }

  .nav-item-2 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-2 p {
    padding-right: 10px;
  }

  .nav-item-3 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-3 p {
    padding-right: 10px;
  }

  .nav-item-4 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-4 p {
    padding-right: 10px;
  }

  .nav-item-5 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-5 p {
    padding-right: 10px;
  }

  .nav-item-6 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-6 p {
    padding-right: 10px;
  }

.nav-partition {
    padding: 0 3%;
}

  .nav-item-7 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-7 p {
    padding-right: 10px;
  }

  .nav-item-8 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-8 p {
    padding-right: 10px;
  }

  .nav-item-9 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-9 p {
    padding-right: 10px;
  }

  .nav-item-10 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-10 p {
    padding-right: 10px;
  }

  .nav-item-11 {
    display: flex;
    flex-direction: row;
  }

  .nav-item-11 p {
    padding-right: 10px;
  }

  /* NavMenu Ends */

  /* Main-Articles */

  .main-articles {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 1% 0;
    border-top: 1px solid black;
    margin-top: 0.15vw;
  }

  .first-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3 1fr;
  }

.main-article-wrap {
    padding: 7% 1%;
    width: 15vw;
}

  #main-article-title {
    font-size: 150%;
  }

  .article-content {
    font-size: 80%;
    width: 15vw;
    color: grey;
  }

  .min-read {
    font-size: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;  
    padding: 2% 0;
}

.main-img {
    grid-row: span 4;
    width: 90%
}

.img-tag-2 {
  display: flex;
  justify-content: end;
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.7vw;
}

.sub-titles {
    font-size: 130%;
    width: 15vw;
}

.article-2-wrap {
    border-top: 0.5px solid var(--border-light);
    padding: 7% 1%;
    width: 15vw;
}

#live {
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2%;
}

#live-bolded {
    font-weight: bolder;
    margin-right: 0.5vw;
}

#updates {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8%;
    margin-top: 2%;
}

#nine {
    background-color: rgb(55, 55, 55);
    color: white;
    border-radius: 40%;
    margin-left: 0.5vw;
    font-size: 0.6vw;
    padding: 1% 1.5%;
    font-weight: bold;
}

.article-3-text {
    font-weight: bold;
    font-size: 90%;
    width: 15vw;
}

.article-3-wrap {
    border-top: 0.5px solid grey;
    width: 15vw;
    padding: 3% 0;
}

.article-4-wrap {
    display:flex;
    flex-direction: row;
    align-items: start;
    border-right: 0.5px solid var(--border-light);
    margin-right: 0.6%;
}

.article-4-wrap img{
    width: 5vw;
    margin-right: 3%;
}

.article-4-wrap p {
    font-weight: bold;
    font-size: 0.8vw;
}

.article-5-wrap {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 60%;
    margin-left: 3%;
}

.article-5-wrap img {
    width: 5vw;
    margin-right: 3%;
}

.article-5-wrap p {
    font-weight: bold;
    font-size: 0.8vw;
}

.bottom-grid {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid var(--border-light);
    width: 98%;
    padding: 1% 0;
}

/* Main-Articles Closes */

.first-right {
    border-left: 0.5px solid var(--border-light);
}

.side-items-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65% 35%;
    margin-left: 3%;
}

.side-item-1 {
    grid-column: span 2;
    border-bottom: 0.5px solid var(--border-light)
}

#main-side-article-title {
    font-size: 140%;
}

.img-tag {
  display:flex;
  justify-content: end;
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.7vw;
    margin-bottom: 3%;
}

.side-item-2 {
    padding: 10% 5% 5% 5%;
}

.side-item-3 {
    padding: 10% 5% 5% 5%;
}

.side-article-texts {
    font-weight: bold;
    font-size: 0.8vw;
}

#art-review-tag {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7vw;
    margin: 10% 2;
}

/* THIS IS TEMPORARY!! WILL BE FIXED */
.min-read-2 {
    font-size: 68%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;  
    padding: 2% 0;
}


/* LeftArticle-2 */

.left-article-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4 1fr;
}

.article-2-nav {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: start;
  padding: 1.5% 0 3% 0;
  border-top: solid 0.7px rgb(43, 43, 43);
  width: 98%
}

.article-2-nav p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.8vw;
}

.suspect-eludes {
  margin: 5% 0;
}

#shootings-bolded {
  font-weight: bold;
}

.what-we-know {
  grid-column-start: 1;
  grid-column-end: 2;
  border-top: 0.5px solid var(--border-light);
  padding: 4% 0;
  width: 90%;
}

.img-tag-3 {
  display:flex;
  justify-content: end;
  color: grey;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.7vw;
}

.article-2-img {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 90%;
}

.item {
  margin-right: 1.2%;
}

.item:last-child {
  margin-right: 0;
}

.article-2-bottom {
  display: grid;
}

.articles-2-bottom-items {
  display: flex;
  flex-direction: row;

}












